.enterprise {
    padding-top: 53px;
    padding-bottom: 51px;
    background-image:
     linear-gradient(180deg,
      #F7F7F7 0%, 
      #f7f7f700 100%);
      
}

.enterprise__inner {
    width: 100%;
    max-width: 802px;
    margin-right: auto;
    margin-bottom: 150px;
    margin-left: auto;
    text-align: center;
}

.enterprise__span {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #22343D;
}

.enterprise__title {
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: #22343D;
}

.enterprise__subtitel {
    margin-top: 0;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #22343D;
}

.enterprise__button {
    width: 100%;
    max-width: 224px;
    padding-top: 11px;
    padding-bottom: 11px;
    border: 1px solid #BCD0E5;
    background: #02897A;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}


