.manag {
    padding-top: 150px;
}

.top {
    width: 100%;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 150px;
}

.top__left {
    width: 100%;
    max-width: 486px;
}

.top__span {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #22343D;
}




.top__title {
    margin-top: 0;
    margin-bottom: 131px;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #22343D;
}




.top__strong {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}



.top__text {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
}

.center__right {
    width: 100%;
    max-width: 486px;
}

.center__span {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #22343D;
}


.center__title {
    margin-top: 0;
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #22343D;
}


.center__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}



.list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.list__item {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.list__text {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
}

.bottom__left {
    width: 100%;
    max-width: 486px;
}

.bottom__span {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #22343D;
}

.bottom__title {
    margin-top: 0;
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #22343D;
}

.bottom__subtitle {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.bottom__strong {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #22343D; 
}

.bottom__text {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D; 
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) { 
    
    
  } 

@include max-width(769px) {
.top {
    flex-direction: column-reverse;
}

.center {
    flex-direction: column;
}

.bottom {
    flex-direction: column-reverse;
}
}